# macOS
.DS_Store

# Xcode user-specific
xcuserdata/
*.xcuserstate

# Build products
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Tooling
.gemini/
